/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .eventPageBorder {
        height: 270%;
        position: relative;
    }

    .OurEvents {
        font-size: 80px;
        position: relative;
        transition: 0.2s;
    }

    .PaddingEvents {
        width: 100%;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventBorder {
        width: 100%;
        border-radius: 25px;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventImg {
        width: 500px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        border-radius: 25px;
        overflow: hidden;
        justify-content: center;
        transition: 0.2s;
    }

    .eventContent {
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 18px;
        width: 500px;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventTitle {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .eventPageBorder {
        height: 270%;
        position: relative;
    }

    .OurEvents {
        font-size: 80px;
        position: relative;
        transition: 0.2s;
    }

    .PaddingEvents {
        width: 100%;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventBorder {
        width: 100%;
        padding: 20px;
        border-radius: 25px;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventImg {
        width: 500px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        border-radius: 25px;
        overflow: hidden;
        justify-content: center;
        transition: 0.2s;
    }

    .eventContent {
        padding-top: 20px;
        font-size: 18px;
        width: 500px;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventTitle {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .eventPageBorder {
        height: 140%;
        position: relative;
    }

    .OurEvents {
        font-size: 80px;
        position: relative;
        transition: 0.2s;
    }

    .PaddingEvents {
        width: 90%;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventBorder {
        border: 1px solid rgb(186, 186, 186);
        height: 250px;
        width: 100%;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventImg {
        width: 250px;
        height: 250px;
        border-radius: 25px;
        overflow: hidden;
        justify-content: center;
        transition: 0.2s;
    }

    .eventContent {
        font-size: 17px;
        padding-left: 30px;
        width: 400px;
        margin: 0;
        transition: 0.2s;
    }

    .eventTitle {
        display: block;
        font-size: 40px;
        margin: 0;
        padding-left: 30px;
        font-weight: 600;
        transition: 0.2s;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .eventPageBorder {
        height: 140%;
        position: relative;
    }

    .OurEvents {
        font-size: 80px;
        position: relative;
        transition: 0.2s;
    }

    .PaddingEvents {
        width: 82%;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventBorder {
        border: 1px solid rgb(186, 186, 186);
        height: 250px;
        width: 90%;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventImg {
        width: 250px;
        height: 250px;
        border-radius: 25px;
        overflow: hidden;
        justify-content: center;
        transition: 0.2s;
    }

    .eventContent {
        font-size: 17px;
        padding-left: 30px;
        width: 400px;
        margin: 0;
        transition: 0.2s;
    }

    .eventTitle {
        display: block;
        font-size: 40px;
        margin: 0;
        padding-left: 30px;
        font-weight: 600;
        transition: 0.2s;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .eventPageBorder {
        height: 140%;
        position: relative;
    }

    .OurEvents {
        font-size: 100px;
        position: relative;
        transition: 0.2s;
    }

    .PaddingEvents {
        width: 82%;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventBorder {
        border: 1px solid rgb(186, 186, 186);
        height: 250px;
        width: 90%;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        margin: 0 auto;
        transition: 0.2s;
    }

    .eventImg {
        width: 250px;
        height: 250px;
        border-radius: 25px;
        overflow: hidden;
        justify-content: center;
        transition: 0.2s;
    }

    .eventContent {
        font-size: 20px;
        padding-left: 30px;
        width: 600px;
        margin: 0;
        transition: 0.2s;
    }

    .eventTitle {
        display: block;
        font-size: 50px;
        margin: 0;
        padding-left: 30px;
        font-weight: 600;
        transition: 0.2s;
    }
}