.contact-body {
  padding: 8% 2.5%;
}

.contact-container {
  max-width: 400px;
  margin: 5% auto;
}

.input,
.textarea,
.submit-button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #623ce8;
  border-radius: 5px;
}

.submit-button {
  background-color: #9a81f1;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #623ce8;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #623ce8;
}

.contact-title {
  color: #623ce8;
  text-align: center;
}

/* Add more styles as needed */