body {
    overflow-x: hidden !important;
    width: 100%;
    /* margin-bottom: 500px; */
}

.positioning {
    position: relative;
    left: 26%;
    top: -150px;
}

.imgBorder {
    width: 280px;
    height: 280px;
    border-radius: 25px;
    overflow: hidden;
}

.contentBorder{
    width: 45%;
    padding-left: 40px;
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: column; 
    flex:1;
}

.info-img {
    display: flex;
    flex-direction: row; 
}

.left-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    margin-right: 20px; /* Add some spacing between the image and the text */
}

.info-p {
    
    width: 600px;
}

/* @media only screen and (max-width: 400px) {

    .info-img {
        flex-direction: column; 
    }

    .info-h {
        width: 200px;
        margin-left: -21px;
        margin-top: 10px;
    }

    .info-p {
        width: 280px;
        margin-left: -20px;
    }
    
} */

.left-image {
    padding-right: 90px;
}

@media only screen and (max-width: 480px) {

    .info-img {
        flex-direction: column; 
        
    }

    .info-h {
        width: 250px;
        margin-left: -31px;
        margin-top: 10px;
    }

    .info-p {
        width: 240px;
        margin-left: -30px;
    }

    .date-p {
        width: 10px;
    }

    .imgBorder {
        width: 240px;
        height: 240px;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .info-img {
        flex-direction: column; 
        
    }

    .info-h {
        width: 350px;
        margin-left: -31px;
        margin-top: 10px;
    }

    .info-p {
        width: 350px;
        margin-left: -30px;
    }

    .date-p {
        width: 10px;
    }

    .imgBorder {
        width: 350px;
        height: 350px;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    .info-img {
        flex-direction: row; 
        
    }

    .info-h {
        width: 250px;
        margin-top: 10px;
    }

    .info-p {
        width: 240px;
    }

    .date-p {
        width: 10px;
    }

    .imgBorder {
        width: 240px;
        height: 240px;
    }
    
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    .info-img {
        flex-direction: row; 
        
    }

    .info-h {
        width: flex;
    }

    .info-p {
        width: 450px;
    }

    .date-p {
        width: 10px;
    }

    .dot {
        margin-left: -500px;
    }

    .imgBorder {
        width: 240px;
        height: 240px;
    }
    
}

.everything {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 2000px; 
}

.line {
    margin-left: 100px;
}

/* .dot {
    
} */