/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .joinusborder{  
        width: 100%;
        height: 60%;
    }

    .joinButton{
        padding: 20px;
        width: 200px;
        background-color: rgb(28, 28, 28);
        color: white;
        font-size: 30px;
        margin: 0 auto;
        border-radius: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .joinButton:hover{
        cursor: pointer;
        background-color: rgb(98, 60, 232);
        transform: scale(1.3);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .joinusborder{  
        width: 100%;
        height: 60%;
    }

    .joinButton{
        padding: 20px;
        width: 200px;
        background-color: rgb(28, 28, 28);
        color: white;
        font-size: 30px;
        margin: 0 auto;
        border-radius: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .joinButton:hover{
        cursor: pointer;
        background-color: rgb(98, 60, 232);
        transform: scale(1.3);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .joinusborder{  
        width: 100%;
        height: 60%;
    }

    .joinButton{
        padding: 20px;
        width: 200px;
        background-color: rgb(28, 28, 28);
        color: white;
        font-size: 30px;
        margin: 0 auto;
        border-radius: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .joinButton:hover{
        cursor: pointer;
        background-color: rgb(98, 60, 232);
        transform: scale(1.3);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .joinusborder{  
        width: 100%;
        height: 60%;
    }

    .joinButton{
        padding: 20px;
        width: 200px;
        background-color: rgb(28, 28, 28);
        color: white;
        font-size: 30px;
        margin: 0 auto;
        border-radius: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .joinButton:hover{
        cursor: pointer;
        background-color: rgb(98, 60, 232);
        transform: scale(1.3);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .joinusborder{  
        width: 100%;
        height: 60%;
    }

    .joinButton{
        padding: 20px;
        width: 200px;
        background-color: rgb(28, 28, 28);
        color: white;
        font-size: 30px;
        margin: 0 auto;
        border-radius: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .joinButton:hover{
        cursor: pointer;
        background-color: rgb(98, 60, 232);
        transform: scale(1.3);
    }
}