/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .SponsorMainTitle {
        font-size: 60px;
        text-align: center;
    }

    .SponsorList {
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 80%;
        margin: 0 auto;
        padding: 40px;
        position: relative;
        left: 6px;
        height: 380px;
    }

    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
    }


    .CPABCimgStyle {
        height: 100px;
    }

    .uoftimgStyle {
        height: 180px;
        position: relative;
        top: -40px;
    }

    .mastercardimgStyle {
        height: 120px;
    }

    .amsimgStyle {
        height: 100px;
    }

    .cusimgStyle {
        height: 100px;
    }

    .title_sponsor {
        text-align: center;
    }

    .parntership {
        margin-top: 0;
        font-size: 150px;
        color: rgb(87, 87, 87);

    }

    .nonTitleSponsor {
        position: relative;
        top: -100px;
        left: 45%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .SponsorMainTitle {
        font-size: 60px;
        text-align: center;
    }

    .SponsorList {
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 80%;
        margin: 0 auto;
        padding: 40px;
        position: relative;
        left: 6px;
        height: 380px;
    }

    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
    }


    .CPABCimgStyle {
        height: 100px;
    }

    .uoftimgStyle {
        height: 180px;
        position: relative;
        top: -40px;
    }

    .mastercardimgStyle {
        height: 120px;
    }

    .amsimgStyle {
        height: 100px;
    }

    .cusimgStyle {
        height: 100px;
    }

    .title_sponsor {
        text-align: center;
    }

    .parntership {
        margin-top: 0;
        font-size: 150px;
        color: rgb(87, 87, 87);

    }

    .nonTitleSponsor {
        position: relative;
        top: -100px;
        left: 45%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .SponsorMainTitle {
        font-size: 60px;
        text-align: center;
    }

    .SponsorList {
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 80%;
        margin: 0 auto;
        padding: 40px;
        position: relative;
        left: 6px;
        height: 380px;
    }

    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
    }


    .CPABCimgStyle {
        height: 100px;
    }

    .uoftimgStyle {
        height: 180px;
        position: relative;
        top: -40px;
    }

    .mastercardimgStyle {
        height: 120px;
    }

    .amsimgStyle {
        height: 100px;
    }

    .cusimgStyle {
        height: 100px;
    }

    .title_sponsor {
        text-align: center;
    }

    .parntership {
        margin-top: 0;
        font-size: 150px;
        color: rgb(87, 87, 87);

    }

    .nonTitleSponsor {
        position: relative;
        top: -100px;
        left: 45%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .SponsorMainTitle {
        font-size: 60px;
        text-align: center;
    }

    .SponsorList {
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 85%;
        margin: 0 auto;
        padding: 40px;
        height: 500px;

    }


    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
    }

    .CPABCimgStyle {
        height: 140px;
    }

    .uoftimgStyle {
        height: 210px;
        position: relative;
        top: -40px;
    }

    .mastercardimgStyle {
        height: 120px;
    }

    .amsimgStyle {
        height: 140px;
    }

    .cusimgStyle {
        height: 140px;
    }

    .title_sponsor {
        text-align: center;
    }

    .parntership {
        margin-top: 0;
        font-size: 150px;
        color: rgb(87, 87, 87);

    }

    .nonTitleSponsor {
        position: relative;
        top: -100px;
        left: 45%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .SponsorMainTitle {
        font-size: 60px;
        text-align: center;
    }

    .SponsorList {
        background-color: #f6f6f6;
        border-radius: 25px;
        width: 85%;
        margin: 0 auto;
        padding: 40px;
        height: 500px;
    }


    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
    }

    .CPABCimgStyle {
        height: 140px;
    }

    .uoftimgStyle {
        height: 210px;
        position: relative;
        top: -40px;
    }

    .mastercardimgStyle {
        height: 150px;
    }

    .amsimgStyle {
        height: 140px;
    }

    .cusimgStyle {
        height: 140px;
    }

    .title_sponsor {
        text-align: center;
    }

    .parntership {
        margin-top: 0;
        font-size: 180px;
        color: rgb(87, 87, 87);

    }

    .nonTitleSponsor {
        position: relative;
        top: -100px;
        left: 45%;
        transform: translateX(-50%);
        width: 90%;
        display: flex;
        justify-content: space-around;

    }
}