.SponsorMainTitle {
    font-size: 60px;
    text-align: center;
}

.SponsorListMobile {
    background-color: #f6f6f6;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    height: 100%;
    position: relative;
    left: 6px;
}

.becomeourpartner {
    font-size: 20px;
    margin: 0;
    position: relative;
    top: 5px;
}


.imgPadding {
    float: left;
    padding: 30px;
}

.msftimgStyle {
    height: 100px;
}

.cusStyleMobile {
    width: 60%;
}

.amsStyleMobile {
    width: 30%;
    float: right;
}

.mastercardStyleMobile {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.torontoStyleMobile {
    width: 65%;
    position: relative;
    top: -30px;
    float: right;
}

.cpabcStyleMobile {
    width: 30%;
    float: left;
}


.SponsorListMobile {
    background-color: #f6f6f6;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    height: 800px;
    position: relative;
    left: 6px;

}