@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:wght@400&family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:wght@300&family=Outfit:wght@600&family=Raleway:wght@300&display=swap');
body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.title{
    
}