.fade-in-top {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-top.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(-80px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-bottom.visible {
    opacity: 1;
    transform: translateY(0);
}


.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}


.zoom-in {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.zoom-in.visible {
    opacity: 1;
    transform: scale(1);
}



