
body {
    overflow-x: hidden !important;
    width: 100%;
}
.shapes-container {
    display: flex !important;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
}
.shape {
    width: 10% !important;
    height: 10% !important;
}

.top {
    position: absolute;
    top: -5%;
    right: -20%;
}

.middle {
    position: absolute;
    top: -15%;
    right: -10%;
}

.bottom {
    position: absolute;
    top: -25%;
    right: -5%;
    z-index: -1;
}

svg {
    position: absolute;
    top: -15%;
    right: -5%;
}


/* styles.css */

.middle-shape {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.top-shape {
    clip-path: polygon(10% 10%, 100% 10%, 100% 100%, 10% 100%);
}

.bottom-shape {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

