
.App {
    font-family: outfit;
    text-align: center;
    padding-right: 100px;
  }

.timeline {
  text-align: center;
}


.event-display {
  display: flex;
  text-align: center;
}

.dynamic-text {
  color: #ab87ff;
  font-size: 50px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.dynamic-image {
  width: 300px;
  text-align: left;
}

.section-wrapper {
  padding-bottom: 40px;
  padding-right: 1000px;
}

.dynamic-paragraph {
  width: 20px;
}

