.eventsBorderMobile {
    width: 100%;
    padding: 10px;
}

.OurEventsMobile {
    font-size: 60px;
    position: relative;
    transition: 0.2s;
}

.mobileEventTile {
    border: 1px solid rgb(155, 155, 155);
    width: 90%;
    margin: 0 auto;
    height: 150px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
}

.eventImgMobile{
   
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    justify-content: center;
    overflow: hidden;
}

.eventContentMobile{
    width: 60%;
    padding-left: 10px;
}