.MobileTitleBorder {
    width: 100%;
    height: 85%;
    position: relative;
    justify-content: center;
    
}

.main_dog_image_mobile {
    width: 95%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}

.BoltUBCTitle {
    font-size: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

.BoltUBCCatchPhrase{
    font-size: 24px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
}