/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .first_text_position {
        position: relative;
        top: 650px;
        text-align: center;
    }

    .bolt {
        font-size: 60px;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline;
    }

    .ubc {
        font-size: 60px;
        margin: 0;
        font-weight: bold;
    }

    .catchPhrase {
        font-size: 30px;
        margin: 0;
    }

    .main_dog_image {
        position: absolute;
        left: 50%;
        top: -20%;
        transform: translate(-50%) scale(0.4);
        transition: 0.2s;
        z-index: 2;
    }

    .BoltUBCBorder {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .first_text_position {
        position: relative;
        top: 650px;
        text-align: center;
    }

    .bolt {
        font-size: 60px;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline;
    }

    .ubc {
        font-size: 60px;
        margin: 0;
        font-weight: bold;
    }

    .catchPhrase {
        font-size: 30px;
        margin: 0;
    }

    .main_dog_image {
        position: absolute;
        left: 50%;
        top: -20%;
        transform: translate(-50%) scale(0.5);
        transition: 0.2s;
        z-index: 2;
    }

    .BoltUBCBorder {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .first_text_position {
        position: absolute;
        right: 3%;
        top: 38%;
    }

    .bolt {
        font-size: 80px;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline
    }

    .ubc {
        font-size: 80px;
        margin: 0;
        font-weight: bold;
    }

    .catchPhrase {
        font-size: 25px;
        margin: 0;
    }

    .main_dog_image {
        position: absolute;
        left: -45%;
        top: -10%;
        transform: scale(0.3);
        transition: 0.2s;
        z-index: 2;
    }

    .BoltUBCBorder {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .first_text_position {
        position: absolute;
        right: 5%;
        top: 37%;
        transition: 0.2s;
    }

    .bolt {
        font-size: 100px;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline;
        transition: 0.2s;
    }

    .ubc {
        font-size: 100px;
        margin: 0;
        font-weight: bold;
        transition: 0.2s;
    }

    .catchPhrase {
        font-size: 30px;
        margin: 0;
        transition: 0.2s;
    }

    .main_dog_image {
        position: absolute;
        left: -35%;
        top: -10%;
        transform: scale(0.3);
        transition: 0.2s;
        z-index: 2;
    }

    .BoltUBCBorder {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .first_text_position {
        position: absolute;
        right: 0%;
        top: 45%;
        transform: translate(-35%, -50%);

    }

    .bolt {
        font-size: 110px;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline
    }

    .ubc {
        font-size: 110px;
        margin: 0;
        font-weight:bolder;
    }

    .catchPhrase {
        font-size: 30px;
        margin: 0;
    }

    .main_dog_image {
        position: absolute;
        left: -10%;
        top: -10%;
        transform: scale(0.35);
        z-index: 2;
        transition: 0.2s;
    }

    .BoltUBCBorder {
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }
}