.nav_bar {
    z-index: 100;
    overflow: hidden;
    backdrop-filter: blur(12px);
    background-color: rgba(248, 248, 248, 0.5);
    border-radius: 100px;
    width: 130px;
    height: 45px;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    padding: 10px;
    transition: 0.6s;
    box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.33);
}

.nav_bar_close {
    z-index: 1;
    overflow: hidden;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    width: 45px;
    height: 45px;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    padding: 10px;
    transition: 0.6s;
}

.nav_bar_content {
    display: flex;
    transition: 0.4s;
}

.nav_bar_content_show_none {
    display: none;
    transition: 0.4s;
}

.nav_bar_logo {
    display: none;
    transition: 0.2s;
}

.nav_bar_logo_animate {
    z-index: 2;
    display: block;
    width: 45px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.nav_bar_rest {
    opacity: 0;
    transition: 0.6s;
    display: flex;
    transition-delay: 0.3s;
}

.nav_bar:hover {
    padding: 20px;
    border-radius: 25px;
    width: 50%;
    cursor: pointer;
}

.nav_bar:hover .nav_bar_rest {
    opacity: 1;
    transition-delay: 0s;
}

.nav_bar_text {
    color: #000000;
    margin: 0;
    font-weight: 800;
    font-size: 18px;
    position: relative;
    top: 11px;
    padding-left: 14px;
    opacity: 0.5;
    transition: 0.2s;
}

.nav_bar_text:hover {
    opacity: 1;
}