/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .missionTitle {
        font-size: 68px;
    }

    .missionDog {
        height: 200px;
        position: relative;
        top: -30px;
        left: 50px;
    }

    .missionContent {
        font-size: 24px;
        margin: 0;
        position: relative;
        top: -20px;
        color: #666;
    }

    .missionDot {
        top: 175px;
        position: relative;
        border-radius: 500%;
        background-color: #623CE8;
        width: 40px;
        height: 20px;
    }

    .MissionContentBorder {
        height: 70%;
        width: 100%;
        padding-top: 300px;
        position: relative;
    }

    .MissionBackground2 {
        transform: translate(-50%, -50%);
        top: 300px;
        left: -10%;
        position: absolute;
        border-radius: 50%;
        background-color: #F5E7FF;
        width: 100px;
        height: 100px;
    }

    .MissionBackground1 {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .missionTitle {
        font-size: 95px;
    }

    .missionDog {
        height: 200px;
        position: relative;
        top: 65px;
        left: 50px;
    }

    .missionContent {
        font-size: 24px;
        margin: 0;
        position: relative;
        top: -20px;
        color: #666;
    }

    .missionDot {
        top: 250px;
        position: relative;
        border-radius: 50%;
        background-color: #623CE8;
        width: 29px;
        height: 20px;
    }

    .MissionContentBorder {
        height: 70%;
        width: 100%;
        padding-top: 100px;
        position: relative;
    }

    .MissionBackground2 {
        transform: translate(-50%, -50%);
        top: 100px;
        left: -10%;
        position: absolute;
        border-radius: 50%;
        background-color: #F5E7FF;
        width: 100px;
        height: 100px;
    }

    .MissionBackground1 {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .missionTitle {
        font-size: 120px;
    }

    .missionDog {
        height: 200px;
        position: relative;
        top: 130px;
        left: 50px;
    }

    .missionContent {
        font-size: 26px;
        margin: 0;
        position: relative;
        top: -30px;
        color: #666;
    }

    .missionDot {
        top: 315px;
        position: relative;
        border-radius: 50%;
        background-color: #623CE8;
        width: 29px;
        height: 20px;
    }

    .MissionContentBorder {
        height: 70%;
        width: 100%;
        padding-top: 100px;
        position: relative;
    }

    .MissionBackground2 {
        transform: translate(-50%, -50%);
        top: 100px;
        left: -10%;
        position: absolute;
        border-radius: 50%;
        background-color: #F5E7FF;
        width: 100px;
        height: 100px;
    }

    .MissionBackground1 {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .missionTitle {
        font-size: 105px;
    }

    .missionDog {
        height: 220px;
        position: relative;
        top: -40px;
        left: 50px;
    }

    .missionContent {
        font-size: 35px;
        margin: 0;
        position: relative;
        top: -70px;
        color: #666;
    }

    .missionDot {
        position: relative;
        top: 150px;
        border-radius: 50%;
        background-color: #623CE8;
        width: 30px;
        height: 30px;

    }

    .MissionContentBorder {
        height: 70%;
        width: 100%;
        padding-top: 100px;
        position: relative;
    }

    .MissionBackground1 {
        top: 300px;
        left: 40%;
        position: absolute;
        border-radius: 50%;
        background-color: #FBF4FF;
        width: 600px;
        height: 600px;
        transform: translate(-50%, -50%);
    }

    .MissionBackground2 {
        top: 100px;
        left: 20%;
        position: absolute;
        border-radius: 50%;
        background-color: #F5E7FF;
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .missionTitle {
        font-size: 150px;
    }

    .missionDog {
        height: 200px;
        position: relative;
        top: 50px;
        left: 50px;
    }

    .missionContent {
        font-size: 35px;
        margin: 0;
        position: relative;
        top: -70px;
        color: #666;
    }

    .missionDot {
        top: 220px;
        position: relative;
        border-radius: 50%;
        background-color: #623CE8;
        width: 30px;
        height: 30px;

    }

    .MissionContentBorder {
        height: 70%;
        width: 100%;
        padding-top: 100px;
        position: relative;
    }

    .MissionBackground1 {
        top: 300px;
        left: 40%;
        position: absolute;
        border-radius: 50%;
        background-color: #FBF4FF;
        width: 600px;
        height: 600px;
        transform: translate(-50%, -50%);
    }

    .MissionBackground2 {
        top: 100px;
        left: 20%;
        position: absolute;
        border-radius: 50%;
        background-color: #F5E7FF;
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%);
    }
}