@import url('https://fonts.googleapis.com/css2?family=Domine&family=Outfit:wght@400;500&family=Raleway:ital,wght@1,100&display=swap');

.header-body {
    display: block;
    align-items: start;
    width: 100%;
    background-color: transparent;
    margin-top: 8%;
    overflow: hidden;
    max-width: 100%;
}

.header {
    text-align: start;
    padding-left: 3%;
    display: flex;
    /* Align text to the left */
}

.title {
    color: #623CE8;
    font-size: 5rem;
    font-weight: 500;
    padding-top: 5%;
    white-space: nowrap;
    font-family: 'Domine', serif;
    font-family: 'Outfit', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

.title-text {
    color: #9A81F1;
    font-size: 3rem;
    font-weight: 500;
    margin-left: 13.5%;
    font-family: 'Domine', serif;
    font-family: 'Outfit', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

.title-text.one {
    white-space: nowrap;
}

.title-text-block {
    display: block;
}

.header-text {
    display: inline;
}