.missionTitleMobile {
    font-size: 68px;
}

.missionDogMobile {
    height: 200px;
    position: relative;
    top: -10px;
    left: 50px;
}

.missionContentMobile {
    font-size: 24px;
    margin: 0;
    position: relative;
    top: -20px;
    color: #666;
}

.missionDotMobile {
    top: 175px;
    position: relative;
    border-radius: 50%;
    background-color: #623CE8;

    width: 20px;
    aspect-ratio: 1/1;
    height: 20px;
}

.MissionContentBorderMobile {
    height: 70%;
    width: 100%;
    padding-top: 300px;
    position: relative;
}

.MissionBackground2Mobile {
    transform: translate(-50%, -50%);
    top: 300px;
    left: -10%;
    position: absolute;
    border-radius: 50%;
    background-color: #F5E7FF;
    width: 100px;
    height: 100px;
}

.MissionBackground1Mobile {
    display: none;
}
